<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
  <appSettings>
    <add key="SWBatchImportFilename" value="C:\Program Files\Dassault Systemes\B422xcadconnectors\win_b64\USWC\SaveInto3DEXPERIENCE.exe"/>
    <add key="SWWorkFolder" value="C:\3DEXPERIENCE\My Work(TonyVerdeschi)\"></add>
    <add key="SWVersion" value="sw2020_sp02"></add>
    <add key="PartName" value="BE12-45"></add>
    <add key="CustomPropertyName" value="pv_root"></add>
    <add key="CustomPropertyValue" value="text from solidworks"></add>
  </appSettings>
  
</configuration>
